# PostgreSQL Configuration
POSTGRES_DB=spotsy_db
POSTGRES_USER=spotsy_user
POSTGRES_PASSWORD=spotsy_password
POSTGRES_PORT=5432

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@spotsy.com
PGADMIN_DEFAULT_PASSWORD=adminpassword
PGADMIN_PORT=5050

# Backend Configuration
BACKEND_PORT=8000
DATABASE_URL=postgresql://spotsy_user:spotsy_password@db:5432/spotsy_db

# Frontend Configuration
FRONTEND_PORT=3000
NEXT_PUBLIC_BACKEND_URL=http://spotsy-backend:8000
